<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
<link rel="stylesheet" href="style.css">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a User</title>

</head>
<body>
<div class="sf">
<form  method="POST" action="/signup">

    <label for="username">User Name:</label> <input name="username" id="username"/>

    <label for="password">Password:</label> <input name="password" id="password"/>

    <label for="fname">First Name:</label> <input name="fname" id="fname"/>

    <label for="lname">Last Name:</label> <input name="lname" id="lname"/>

    <label for="dob">Date Of Birth:</label> <input name="dob" id="dob"/>

    <label for="bio">Bio:</label> <input name="bio" id="bio"/>


    <input type="submit" />
</form>

</div>
<div th:replace="fragments/footer :: foot"></div>

</body>
</html>