<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a User</title>
</head>
<body>
<form method="POST" action="/singUp">
    <label for="fname">First Name:</label> <input name="fname" id="fname"/>

    <label for="lname">Last NAme:</label> <input name="lname" id="lname"/>

    <label for="dob">Date Of Birth:</label> <input name="dob" id="dob"/>

    <label for="bio">Bio:</label> <input name="bio" id="bio"/>


    <input type="submit" />
</form>

</body>
</html>